
h1{
    text-align: center;
    color: aliceblue;
    background-color: rgb(255, 145, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: teal;
    background-color: white;
    font-size: 20px;
}

.odd, 
h2{
    background-color:teal;
    color: white;
    text-align: right;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
